body {
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2 { margin: 0; }

.mood-box {
    display: block;
    border-radius: 3px;
    background-color: #DBC7A3;
    color: black;
    padding: 1em;
    width: 400px;
    text-align: right;
    margin: 1em 0.5em;
}

.mood-box .mood-header-title {
    border-top: 0.75em solid #823531; 
    border-bottom: 0.75em solid #823531;
    border-radius: 3px;
}

.mood-box .mood-header-title h1 {
    font-size: 4em;
    display: block;
    text-align: center;
}

.mood-box .mood-header-title h2 {
    font-size: 1.5em;
    text-align: center;
}

.mood-box .mood-header-subtitle {
    margin-top: 1.75em;
    border-radius: 3px;
}

.mood-box .mood-header-subtitle h1 {
    text-align: right;
    font-size: 1.5em;
    border-bottom: 0.75em solid #823531;
    margin-bottom: 0.25em;
}

.mood-box ul li {
    margin: 0.5em 0em;
    display: block;
    width: 100%;
}

.mood-box ul li a, .mood-box ul li a:visited {
    text-decoration: underline;
    color: black;
}

.mood-box ul li a:hover {
    color: white;
    background-color: #823531;
}